#chat-board
	display: block
	flex-direction: column
	width: calc(100%)
	height: calc(100vh - 60px)
	padding-bottom: 5px
	position: relative
	//border: 1px solid gray
	align-items: center
	overflow-x: auto
	&::-webkit-scrollbar-track
		border-radius: 1px
	&::-webkit-scrollbar
		width: 1px
		background-color: rgba(200,200,200,0)
	&::-webkit-scrollbar-thumb
		border-radius: 1px
		background-color: rgba(180,180,180,0.2)

	.message-box
		display: inline-flex
		flex-direction: column
		width: 100%
		max-width: calc(100%)
		align-items: flex-start
		margin: 5px 0px 0px 0px
		min-height: 40px

		*
			font-size: 1em

		span
			padding: 10px
			background-color: white
			//border-radius: 5px
			max-width: calc(100%)
			word-break: break-all
			color: rgba(100,100,100,1)
			border-radius: 0 15px 15px 15px
			box-shadow: 1px 1px 3px rgb(200,200,200)

		span.pokemon-name
			position: relative

			&:hover:after
				content: attr(data-msg)
				position: absolute
				border-radius: 10px
				padding: 3px
				display: flex
				right: -1px
				top: 30px
				font-size: 0.8em
				background-color: rgba(70,70,70,.8)
				color: white
				z-index: 1

	.self-message
		align-items: flex-end
		span 
			max-width: calc(100% - 3px)
			margin-right: 3px
			background-color: #96BDBC
			color: rgb(240,240,240)
			border-radius: 15px 0 15px 15px

	.system-message
		align-items: center
		span 
			max-width: calc(100% - 3px)
			margin-right: 3px
			color: #969696
			background-color: transparent
			border-radius: 0
			font-size: 0.9em
			box-shadow: none

#filter-mask
	display: none
	position: fixed
	flex-direction: column
	align-items: center
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	background-color: rgba(30,38,49,.8)
	z-index: 999
	>a
		display: flex
		position: absolute
		left: 0
		top: 0
		width: 10vw
		height: 10vh

	&:target
		display: flex

		~ #playlist-container
			display: block

		~#chat-board
			filter: blur(2px)

	.video-related-container
		display: inline-flex
		position: relative
		flex-direction: column
		padding: 35px 10px 10px 10px
		width: calc(100% - 20px)
		max-width: 600px
		
		.back-link
			position: absolute
			left: 10px
			top: 10px

			>img
				width: 20px
				height: 20px

		.title-name
			display: flex
			flex-direction: row
			padding: 10px 10px
			width: calc(100% - 20px)
			align-items: flex-start

			span
				padding: 0px 5px
				color: rgba(150,150,150,1)
				text-decoration: none
				cursor: pointer

			>.active
				color: white

		#playlist-container,#searchlist-container
			display: flex
			flex-direction: column
			max-height: calc(100vh - 150px)
			width: calc(100% - 10px)
			padding: 10px 10px
			z-index: 999
			overflow-y: auto
			overflow-x: hidden

			&::-webkit-scrollbar-track
				border-radius: 2px
			&::-webkit-scrollbar
				width: 3px
				background-color: rgba(200,200,200,0)
			&::-webkit-scrollbar-thumb
				border-radius: 2px
				background-color: rgba(180,180,180,0.2)

			.video-option
				display: inline-flex
				flex-direction: row
				align-items: flex-start
				width: calc(100%)
				padding-left: 10px
				filter: brightness(75%)
				margin: 10px 0px 5px 0px
				
				img.video-img
					width: 60px
					height: auto

				.video-info
					display: inline-flex
					flex-direction: column
					padding: 0px 10px
					align-items: flex-start

					>span
						color: rgba(220,220,220,1)

					span.video-title
						font-size: 0.9em

					span.video-author
						font-size: 0.8em
						color: rgba(200,200,200,1)
			
			.search-option
				padding-left: 0
				justify-content: space-between

				.info-container
					display: inline-flex
					flex-direction: row
					align-items: flex-start

					.video-info
						>span
							color: white
				.options
					display: flex
					flex-direction: column
					width: 50px
					min-width: 50px
					align-items: center

					button
						padding: 3px 10px
						background-color: transparent
						border: 1px solid rgba(230,230,230,1)
						border-radius: 10px
						color: rgba(230,230,230,1)
						outline: none
						margin-bottom: 5px
						transition: all .3s
						cursor: pointer

						&:hover
							background-color: rgba(230,230,230,.5)

			.video-playing
				filter: brightness(100%)
				padding-left: 5
				position: relative
				color: white

				&:before
					content: ''
					display: flex
					position: absolute
					left: -15px
					top: 22.5px
					transform: translate(0px,-50%)
					width: 0
					height: 0
					border-top: 7.5px solid transparent
					border-bottom: 7.5px solid transparent
					border-left: 15px solid rgba(230,230,230,1)

			.video-pause
				filter: brightness(100%)
				padding-left: 0
				position: relative

				&:before
					content: ''
					display: flex
					position: absolute
					left: -15px
					top: 22.5px
					transform: translate(0px,-50%)
					width: 4px
					height: 15px
					border-left: 3px solid rgba(230,230,230,1)
					border-right: 3px solid rgba(230,230,230,1)
