#input-container
	display: inline-flex
	position: relative
	flex-direction: row
	align-items: center
	width: calc(100%)
	margin: 5px 0px
	border-radius: 10px
	border: 1px solid rgb(230,230,230)
	input
		width: calc(100% - 70px)
		padding: 10px 10px 10px 10px
		border-radius: 5px
		border: 1px solid rgb(230,230,230)
		outline: none
		background-color: transparent
		color: #96BDBC
		border: none

		&::-webkit-input-placeholder
			color: rgba(#96BDBC,.8)

	#playlist-icon
		display: flex
		width: 15px
		height: 15px
		cursor: pointer
		margin: 0px 5px

		&:hover:after
			content: attr(data-msg)
			display: flex
			padding: 5px
			position: absolute
			right: -2px
			background-color: rgba(10,10,10,1)
			color: white
			border-radius: 2px
			font-size: 0.8em
			bottom: 30px

		
		img
			width: 100%
			height: 100%

	#scale-icon
		display: flex
		width: 15px
		height: 15px
		cursor: pointer

		&:hover:after
			content: attr(data-msg)
			display: inline-flex
			padding: 5px
			position: absolute
			right: 5px
			background-color: rgba(10,10,10,1)
			color: white
			border-radius: 2px
			font-size: 0.8em
			bottom: 30px
		
		img
			width: 100%
			height: 100%