


$bg-color: #f7f7f7

html, body
	padding: 0
	border: 0
	margin: 0
	overflow-x: hidden

	*
		font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif


#screen-container
	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	min-height: 100vh
	background-color: $bg-color


	#chat-box-container
		display: flex
		position: relative
		flex-direction: column
		align-items: center
		width: calc(100% - 10px)
		max-width: 600px
		min-height: calc(100vh - 35px)
		padding: 30px 20px 5px 20px
		//background-color: white


